.btn-back-color{background-color:#289BDE;color: white;
                font-size:26px ;}

.carousel-caption{top: 50%;
    transform: translateY(-25%);}

.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
  }    